# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [7]:
%run parse_data.ipynb

In [8]:
df.describe(include='all')

,t,u,v,dudt,dvdt,flow_type
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000
unique,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,laminar
freq,NaN,NaN,NaN,NaN,NaN,5000
mean,0.049870,0.594547,0.000424,-0.068425,0.013681,NaN
std,0.031800,0.372560,0.095746,3.950692,3.334321,NaN
min,0.000000,-1.844265,-1.047295,-71.891981,-30.315808,NaN
25%,0.022222,0.383932,-0.003037,-1.089146,-0.194212,NaN
50%,0.044444,0.688337,0.000001,-0.037732,-0.000477,NaN
75%,0.077778,0.896031,0.003147,0.942486,0.163756,NaN
max,0.100000,2.350179,0.964703,34.206342,23.060428,NaN