# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [2]:
%run parse_data.ipynb

In [3]:
df.describe()

               time             u             v          dudt          dvdt
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.049870      0.594547      0.000424     -0.068425      0.013681
std        0.031800      0.372560      0.095746      3.950692      3.334321
min        0.000000     -1.844265     -1.047295    -71.891981    -30.315808
25%        0.022222      0.383932     -0.003037     -1.089146     -0.194212
50%        0.044444      0.688337      0.000001     -0.037732     -0.000477
75%        0.077778      0.896031      0.003147      0.942486      0.163756
max        0.100000      2.350179      0.964703     34.206342     23.060428