# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [10]:
%run parse_data.ipynb

In [11]:
df.describe()

               time             x             y
count  10000.000000  10000.000000  10000.000000
mean       0.049870      0.496805      0.050420
std        0.031800      0.301677      0.031811
min        0.000000      0.000000      0.000000
25%        0.022222      0.210526      0.022222
50%        0.044444      0.473684      0.055556
75%        0.077778      0.736842      0.077778
max        0.100000      1.000000      0.100000