# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [3]:
import pandas as pd

df0 = pd.read_csv('flow.csv')

df0.describe()

,t,x,y,u,v,p,dudx,dudy,dvdx,dvdy,dudt,dvdt,sample_id
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,0.049870,0.496805,0.050420,0.594547,0.000424,-1.949001,0.008558,-0.227408,-0.001917,0.048072,-0.068425,0.013681,99.78660
std,0.031800,0.301677,0.031811,0.372560,0.095746,2.495353,1.564183,19.108914,1.107690,5.315184,3.950692,3.334321,57.68452
min,0.000000,0.000000,0.000000,-1.844265,-1.047295,-8.022295,-13.784835,-114.200990,-10.271322,-44.153436,-71.891981,-30.315808,0.00000
25%,0.022222,0.210526,0.022222,0.383932,-0.003037,-3.780860,-0.100786,-12.952713,-0.017075,-0.073376,-1.089146,-0.194212,50.00000
50%,0.044444,0.473684,0.055556,0.688337,0.000001,-0.464009,0.000000,0.000000,0.000000,0.000000,-0.037732,-0.000477,99.50000
75%,0.077778,0.736842,0.077778,0.896031,0.003147,-0.080119,0.103317,12.758049,0.015998,0.079988,0.942486,0.163756,150.00000
max,0.100000,1.000000,0.100000,2.350179,0.964703,0.024720,11.863441,88.478774,9.033601,43.423027,34.206342,23.060428,199.00000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- du/dx
- du/dy
- dv/dy
- du/dt
- dv/dt

**IVs**:
- t time
- x position
- y position
- u x speed (dx/dt)
- v y speed (dy/dt)
- p pressure
- sample_id labeling a dataset
- flow_type “laminar” / “turbulent” (this CSV is not displayed somehow)



<br>
<br>

Let's extract the relevant columns:

In [4]:

df = df0[  ['t', 'u', 'v', 'dudt', 'dvdt']  ]

df.describe()

                  t             u             v          dudt          dvdt
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.049870      0.594547      0.000424     -0.068425      0.013681
std        0.031800      0.372560      0.095746      3.950692      3.334321
min        0.000000     -1.844265     -1.047295    -71.891981    -30.315808
25%        0.022222      0.383932     -0.003037     -1.089146     -0.194212
50%        0.044444      0.688337      0.000001     -0.037732     -0.000477
75%        0.077778      0.896031      0.003147      0.942486      0.163756
max        0.100000      2.350179      0.964703     34.206342     23.060428

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [5]:
df = df.rename( columns={'t':'time'} )

df.describe()

               time             u             v          dudt          dvdt
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       0.049870      0.594547      0.000424     -0.068425      0.013681
std        0.031800      0.372560      0.095746      3.950692      3.334321
min        0.000000     -1.844265     -1.047295    -71.891981    -30.315808
25%        0.022222      0.383932     -0.003037     -1.089146     -0.194212
50%        0.044444      0.688337      0.000001     -0.037732     -0.000477
75%        0.077778      0.896031      0.003147      0.942486      0.163756
max        0.100000      2.350179      0.964703     34.206342     23.060428